.new {
  background-color: #252525;
  padding: 100px 0 80px 0;
}

.new .raw {
  display: flex;
  justify-content: center;
}

.first-raw-content {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new h2 {
  font-size: 60px;
  font-weight: bold;
}

.second-raw {
  margin: auto;
  max-width: 1300px;
  justify-content: space-between !important;
  align-items: center;
  padding: 100px 135px 0 135px;
}

.second-raw-text p {
  width: 80%;
  font-size: 30px;
  margin-top: 20px;
  line-height: 40px;
}

/* lines setup */
.new-lines {
  height: 70%;
  display: flex;
}

.new-lines-el {
  height: 100%;
  width: 8px;
  background-color: #fff;
}

.new-lines-el2 {
  rotate: 30deg;
}

.new-lines-el3 {
  position: relative;
}

.new__way-arr {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 13px;
  rotate: 35deg;
  width: 8px;
  height: 40px;
}

.new__way-arr:first-child {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: -13px;
  rotate: -35deg;
  width: 8px;
  height: 40px;
}

@media screen and (max-width: 1340px) {
  .first-raw-content {
    position: absolute;
    right: 50px;
    height: 650px;
  }

  .second-raw-text {
    position: absolute;
    width: 60vw;
    min-width: 500px;
    left: 50px;
  }
  .second-raw {
    justify-content: end !important;
  }

  .second-raw img {
    max-width: 600px;
    width: 90vw;
  }
}

@media screen and (max-width: 470px) {
  .second-raw-text h2 {
    font-size: 40px;
  }
  .second-raw-text p {
    font-size: 20px;
    width: 80vw;
  }

  .first-raw-content {
    justify-content: space-evenly;
  }

  .first-raw-content h2 {
    font-size: 40px;
  }
  .new-lines {
    height: 50%;
  }
}
