.features {
  background-color: #2f2f2f;
  display: flex;
  padding: 100px 50px;
  justify-content: center;
  position: relative;
}

.features img {
  object-fit: contain;
}

.features-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
  width: 530px;
}

.features-text h2 {
  font-weight: bold;
  font-size: 62.5px;
}

.features-text p {
  margin-top: 20px;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .features-content {
    margin: 0 !important;
    position: absolute;
    top: 120px;
    right: 50px;
  }
  .features img {
    position: relative;
  }
  .features {
    /* display: flex; */
    /* justify-content: start; */
  }
}

@media screen and (max-width: 750px) {
  .features-content {
    margin-left: 20px;
    width: calc(100vw - 20px);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 430px) {
  .features img {
    height: 800px;
  }
}
