#root {
  font-family: "Space Mono", monospace;
  color: white;
}

.btn {
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  height: 50px;
}
